extends layout

block content
  h1= title
  form(action="/", method="post")
    .row
      .col
        input.form-control(type="text", name="input")
      .col
        button.btn.btn-primary(type="submit") Submit

    if(davisdata)
      .row
        .col
          hr
          .card.bg-faded
            .card-block
              pre
                !{davisdata}

